.dev-gray {
	background-color: gray;
}
.dev-blue {
	background-color: #82e3ed;
}
.dev-darkgray {
 	background-color: #e9eaf3;
}
.dev-violet {
	background-color: #c2f7ff;
}
.dev-lightgray {
	background-color: #e9eaf3;
}